# Flask Configuration
FLASK_SECRET_KEY=
PORT=5000
DEBUG=false
SOCKETIO_LOGGER=false

# JWT Configuration
JWT_SECRET_KEY=
JWT_EXPIRATION_HOURS=24

# Database Configuration
DATABASE_URL=sqlite:///study_mates.db

# Admin Staff Account
ADMIN_USERNAME=TutorsQUT
ADMIN_PASSWORD=@Easy2Remember